apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "tenancy_ocid": "OCID of the tenancy",
      "user_ocid": "OCID of the user calling the API",
      "private_key": "The contents of the private key file",
      "fingerprint": "Fingerprint for the key pair being used"
    }
